.item {
   display: -ms-flexbox;
   display: flex;
   text-align: left;
   padding-bottom: 5px;
   border-bottom: 1px solid #d3d3d3;
}
.item img{
   margin-right: 10px;
}
.item-header {
   text-align: left;
   color: blue;
   font-weight: 400;
}
.item-description {
   display: -ms-flexbox;
   display: flex;
}
.main-button {
   background: #f0c14b;
   width: 200px;
   height: 26px;
   border-color: #a88734 #9c7e31 #846a29;
   cursor: pointer;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
}